<footer>
  <div class="bg-darken text-light py-5">
    <div class="{{ footer_contained ? "container" : "container-fluid" }}">
      <div class="row">

        {% if page.footer_one %}
        <div class="col-12 col-lg text-link-light">
          {{ page.footer_one }}
        </div>
        {% endif %}

        {% if page.footer_two %}
        <div class="col-12 col-lg text-link-light">
          {{ page.footer_two }}
        </div>
        {% endif %}

        {% if page.footer_three %}
        <div class="col-12 col-lg d-flex align-items-end justify-content-end">
          {{ page.footer_three }}
        </div>
        {% endif %}

      </div>
    </div>
  </div>

  {% if page.footer_bottom %}
  <div class="footer-copyright text-center py-3 bg-darken">
    {{ page.footer_bottom }}
  </div>
  {% endif %}

</footer>
