{{ attach_library('pvr/header') }}
<header class="{{ header_fixed ? 'fixed-top' }}">

  {% if page.header_top %}
  <div class="bg-light">
    <div class="{{ header_contained ? "container" : "container-fluid" }}">
      <div class="row">
        <div class="col-12">
          {{ page.header_top }}
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="{{ header_navbar_bg ? header_navbar_bg }}">
    <div class="{{ header_contained ? "container" : "container-fluid" }}">

      {% set nav_attributes = create_attribute() %}
      {% set nav_classes = [
        'navbar',
        'navbar-expand-lg',
        'align-items-lg-end',
        'px-0',
        header_navbar_type ? 'navbar-' ~ header_navbar_type,
      ] %}

      <nav {{ nav_attributes.addClass(nav_classes) }}>

        {# logo - change if needs to be dynamic. #}
        <a class="navbar-brand" href="/">
          <img src="/{{ directory }}/logo.png" alt="{{ 'Міжнародний Благодійний Фонд "ПОВЕРНЕННЯ"'|t }}" width="260px">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">

          {% if page.search %}
            <div id="search-overlay">
              {{ page.search }}
              <div class="search-exit">
                <button class="btn btn-secondary">{{ 'Close Search'|t }}</button>
              </div>
            </div>
          {% endif %}

          {% if page.navigation %}
            <div class="ms-lg-auto">
              {{ page.navigation }}
            </div>
          {% endif %}

        </div>
      </nav>
    </div>
  </div>

</header>
